# .gitignore
/client/node_modules
/server/node_modules
/server/dist
/node_modules
/out

# Client/public
/client/public/images/*
!/client/public/images/products/product.jpg
!/client/public/images/users/user.jpg
!/client/public/images/customers/customer.jpg
