.tab-titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab-title {
    /* background-color: #080808; */
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.tab-title.active {
    /* background-color: #155207; */
    border-bottom: 2px solid green;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-navigations {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.units-tab > .tab-title {
    background-color: #121212;
}
